In [149]:
import pandas as pd

In [150]:
train = pd.read_csv('train.csv')
test = pd.read_csv('test.csv')
submission = pd.read_csv('gender_submission.csv')

In [151]:
train.tail()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.00,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.00,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.45,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.00,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.75,NaN,Q

In [152]:
test.head()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S

In [153]:
train.shape

(891, 12)

In [154]:
test.shape

(418, 11)

In [155]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [156]:
train.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [157]:
test.isnull().sum()

PassengerId      0
Pclass           0
Name             0
Sex              0
Age             86
SibSp            0
Parch            0
Ticket           0
Fare             1
Cabin          327
Embarked         0
dtype: int64

In [158]:
import seaborn as sns

In [159]:
train_test_data = [train,test]

for dataset in train_test_data :
    dataset['Title'] = dataset['Name'].str.extract('([A-Za-z]+)\.',expand=False)

<>:4: SyntaxWarning: invalid escape sequence '\.'
<>:4: SyntaxWarning: invalid escape sequence '\.'
C:\Users\kjb00\AppData\Local\Temp\ipykernel_24508\2130538771.py:4: SyntaxWarning: invalid escape sequence '\.'
  dataset['Title'] = dataset['Name'].str.extract('([A-Za-z]+)\.',expand=False)

In [160]:
train['Title'].value_counts()

Mr          517
Miss        182
Mrs         125
Master       40
Dr            7
Rev           6
Mlle          2
Major         2
Col           2
Countess      1
Capt          1
Ms            1
Sir           1
Lady          1
Mme           1
Don           1
Jonkheer      1
Name: Title, dtype: int64

In [161]:
test['Title'].value_counts()

Mr        240
Miss       78
Mrs        72
Master     21
Col         2
Rev         2
Ms          1
Dr          1
Dona        1
Name: Title, dtype: int64

In [162]:
title_mapping = {'Mr':0,'Miss':1,'Mrs':2,
                 'Master ' : 3,
'Rev':3,
'Dona':3,
'Dr':3,
'Rev':3,
'Mlle':3,
'Major':3,
'Col':3,
'Countess':3,
'Capt':3,
'Ms':3,
'Sir':3,
'Lady':3,
'Mme':3,
'Don':3,
'Jonkheer':3}

In [163]:
for dataset in train_test_data :
    dataset['Title'] = dataset['Title'].map(title_mapping)

In [164]:
train.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Title
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,0.0
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,2.0
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,1.0
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,2.0
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,0.0

In [165]:
train.drop('Name',axis=1,inplace=True)
test.drop('Name',axis=1,inplace=True)

In [166]:
train['Title'].fillna(3,inplace=True)

In [167]:
train['Title']=train['Title'].astype(int)

In [168]:
train.head(100)

,PassengerId,Survived,Pclass,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Title
0,1,0,3,male,22.0,1,0,A/5 21171,7.2500,NaN,S,0
1,2,1,1,female,38.0,1,0,PC 17599,71.2833,C85,C,2
2,3,1,3,female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,1
3,4,1,1,female,35.0,1,0,113803,53.1000,C123,S,2
4,5,0,3,male,35.0,0,0,373450,8.0500,NaN,S,0
...,...,...,...,...,...,...,...,...,...,...,...,...
95,96,0,3,male,NaN,0,0,374910,8.0500,NaN,S,0
96,97,0,1,male,71.0,0,0,PC 17754,34.6542,A5,C,0
97,98,1,1,male,23.0,0,1,PC 17759,63.3583,D10 D12,C,0
98,99,1,2,female,34.0,0,1,231919,23.0000,NaN,S,2
99,100,0,2,male,34.0,1,0,244367,26.0000,NaN,S,0

In [169]:
train['Age'].fillna(train.groupby('Title')['Age'].transform('median'),inplace=True)
test['Age'].fillna(test.groupby('Title')['Age'].transform('median'),inplace=True)

In [170]:
for dataset in train_test_data :
    dataset.loc[dataset['Age']<=16,'Age'] = 0
    dataset.loc[(dataset['Age']>16)&(dataset['Age']<=26),'Age'] = 1
    dataset.loc[(dataset['Age']>26)&(dataset['Age']<=36),'Age'] = 2
    dataset.loc[(dataset['Age']>36)&(dataset['Age']<=62),'Age'] = 3
    dataset.loc[dataset['Age']>62,'Age'] = 4

In [171]:
for dataset in train_test_data :
    dataset['Embarked'] = dataset['Embarked'].map({'C':0,'Q':1,'S':2})

In [172]:
train['Embarked'].fillna(2,inplace=True)

In [173]:
feautres_drop = ['Ticket','SibSp','Parch','Fare','Cabin']
test.drop(feautres_drop,axis=1,inplace=True)
train.drop(feautres_drop,axis=1,inplace=True)
train.drop(['PassengerId'],axis=1,inplace=True)

In [174]:
train

     Survived  Pclass     Sex  Age  Embarked  Title
0           0       3    male  1.0       2.0      0
1           1       1  female  3.0       0.0      2
2           1       3  female  1.0       2.0      1
3           1       1  female  2.0       2.0      2
4           0       3    male  2.0       2.0      0
..        ...     ...     ...  ...       ...    ...
886         0       2    male  2.0       2.0      3
887         1       1  female  1.0       2.0      1
888         0       3  female  1.0       2.0      1
889         1       1    male  1.0       0.0      0
890         0       3    male  2.0       1.0      0

[891 rows x 6 columns]

In [175]:
train_data = train.drop('Survived',axis=1)
target = train['Survived']

train_data.shape,target.shape

((891, 5), (891,))

In [176]:
train_data['Sex'] = train_data['Sex'].map({'female':0,'male':1})

In [177]:
train_data

     Pclass  Sex  Age  Embarked  Title
0         3    1  1.0       2.0      0
1         1    0  3.0       0.0      2
2         3    0  1.0       2.0      1
3         1    0  2.0       2.0      2
4         3    1  2.0       2.0      0
..      ...  ...  ...       ...    ...
886       2    1  2.0       2.0      3
887       1    0  1.0       2.0      1
888       3    0  1.0       2.0      1
889       1    1  1.0       0.0      0
890       3    1  2.0       1.0      0

[891 rows x 5 columns]

In [178]:
target

0      0
1      1
2      1
3      1
4      0
      ..
886    0
887    1
888    0
889    1
890    0
Name: Survived, Length: 891, dtype: int64

K-fold cross validation 

k-폴드 교차 검증

In [179]:
from sklearn.neighbors import KNeighborsClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier
from sklearn.naive_bayes import GaussianNB
from sklearn.svm import SVC
from sklearn.tree import DecisionTreeClassifier

import numpy as np

Cross Validation (K-fold)

In [180]:
from sklearn.model_selection import KFold
from sklearn.model_selection import cross_val_score
k_fold =KFold(n_splits=10,shuffle=True,random_state=0)

KNN

In [181]:
clf = KNeighborsClassifier(n_neighbors=13)
scoring = 'accuracy'
score = cross_val_score(clf,train_data,target,cv=k_fold,n_jobs=1,scoring=scoring)
print(score)

[0.82222222 0.79775281 0.79775281 0.82022472 0.87640449 0.82022472
 0.74157303 0.84269663 0.80898876 0.82022472]

In [182]:
round(np.mean(score)*100,2)

81.48

NameError: name 'train_data' is not defined

:

In [183]:
clf = DecisionTreeClassifier()
scoring = 'accuracy'
score = cross_val_score(clf,train_data,target,cv=k_fold,n_jobs=1,scoring=scoring)
print(score)

[0.77777778 0.83146067 0.79775281 0.82022472 0.86516854 0.85393258
 0.7752809  0.82022472 0.79775281 0.80898876]

In [184]:
round(np.mean(score)*100,2)

81.49

In [185]:
clf = RandomForestClassifier(n_estimators=13)
scoring = 'accuracy'
score = cross_val_score(clf,train_data,target,cv=k_fold,n_jobs=1,scoring=scoring)
print(score)

[0.77777778 0.83146067 0.79775281 0.82022472 0.84269663 0.85393258
 0.76404494 0.83146067 0.78651685 0.80898876]

In [186]:
round(np.mean(score)*100,2)

81.15

In [187]:
clf = GaussianNB()
scoring = 'accuracy'
score = cross_val_score(clf,train_data,target,cv=k_fold,n_jobs=1,scoring=scoring)
print(score)

[0.77777778 0.74157303 0.78651685 0.75280899 0.70786517 0.78651685
 0.7752809  0.7752809  0.79775281 0.79775281]

In [188]:
round(np.mean(score)*100,2)

76.99

In [189]:
clf = SVC()
scoring = 'accuracy'
score = cross_val_score(clf,train_data,target,cv=k_fold,n_jobs=1,scoring=scoring)
print(score)

[0.81111111 0.83146067 0.79775281 0.83146067 0.86516854 0.86516854
 0.79775281 0.80898876 0.79775281 0.82022472]

In [190]:
round(np.mean(score)*100,2)

82.27

In [191]:
clf = LogisticRegression(solver='lbfgs')
scoring = 'accuracy'
score = cross_val_score(clf,train_data,target,cv=k_fold,n_jobs=1,scoring=scoring)
print(score)

[0.8        0.76404494 0.79775281 0.7752809  0.7752809  0.79775281
 0.82022472 0.78651685 0.82022472 0.86516854]

In [192]:
round(np.mean(score)*100,2)

80.02

In [193]:
clf = SVC()
clf.fit(train_data,target)

SVC()

In [210]:
predicted = clf.predict(test_data)
len(predicted)

418

In [211]:
submission = pd.DataFrame({
    'PassengerId' : test['PassengerId'],
    'Survived' : predicted
})
submission.to_csv('submission.csv',index=False)

In [212]:
sub = pd.read_csv('submission.csv')
sub

     PassengerId  Survived
0            892         0
1            893         0
2            894         0
3            895         0
4            896         0
..           ...       ...
413         1305         0
414         1306         1
415         1307         0
416         1308         0
417         1309         1

[418 rows x 2 columns]